html {
  height: 100%;
  width: 100%;
}

body{
  background-color: lightblue;
}

.temp,.desc,.light,.rain{
  color:white;
  font-size: 40px;
  margin:auto;
  width:fit-content;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.desc,.light,.rain{
  font-size: 16px;
}
